.titleContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  > h1 {
    margin-bottom: 10px;
  }
}
.searchContainer {
  display: flex;
  flex-direction: column;
  width: 1330px;
  margin-left: 6%;
  justify-content: flex-start;
}
.selectContainer {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 8px;
  width: fit-content;
  border: 2px solid;
  border-radius: 12px;

  > select {
    border-radius: 4px;
    height: 30px;
    cursor: pointer;
  }

  > button {
    background-color: black;
    color: white;
    padding: 4px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
}

.geralContainer {
  display: flex;
  justify-content: center;
  width: 1500px;
}

.cardsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
}

.infoContainer {
  display: flex;
  align-items: first baseline;
  flex-direction: column;
  width: fit-content;
  border: 2px solid;
  padding: 4px;
  border-radius: 8px;
}

.imgContainer {
  display: flex;

  > img {
    border-radius: 8px;
    margin-top: 10px;
    padding: 4px;
  }
}
